.wall{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 1000px;
    height: 800px;
    background: grey;
    row-gap: 10px;
}

.header{
    background: olivedrab;
    width: 100%;
    height: 30%;
}

.menu{
    display: flex;
    width: 100%;
    height: 100%;
    column-gap: 10px;
}

.banner{
    flex-grow: 30;
    height: 100%;
    background: olive;
}

.buttons{
    flex-grow: 70;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

.button{
    width: 30%;
    height: 49%;
    background: darkgreen;
}
