.wall{
    display: flex;
    background: lightskyblue;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    height: 900px;
    row-gap: 10px;
}

.ha{
    display: flex;
    justify-content: space-around;
    height: 40%;
    width: 100%;
    column-gap: 10px;
}

.hoab{
    width: 50%;
    height: 100%;
    background: royalblue;
}

.kabobs{
    width: 100%;
    height: 30%;
    background: dodgerblue;
}

.sbs{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30%;
}

.shbs{
    width: 30%;
    height: 100%;
    background: aquamarine;
}